@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"),
    url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"),
  url('./assets/fonts/Poppins-Italic.ttf');
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins Bold"),
  url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"),
    url('./assets/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins Extra Bold"),
    url('./assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins Extra Bold Italic"),
    url('./assets/fonts/Poppins-ExtraBoldItalic.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 1280px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(0, 0%, 94%);
}

h1 {
  font-size: 5rem;
  font-style: italic;
  line-height: 1.1;
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  width: 90%;
  padding: 2rem;
  border-radius: 1.25rem;
  border-bottom-right-radius: 5rem;
}

.col + .col {
  margin-left: 1rem;
}

.row {
  display: flex;
}

.form-label {
  text-align: left;
  letter-spacing: .25rem;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}

input[type="text"] {
  margin: .5rem 0;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: .75rem;
}

.errors, .errors .form-label {
  font-size: .8rem;
  color: hsl(0, 100%, 67%);
}

.errors input {
  border: 1px solid hsl(0, 100%, 67%);

}